/*Background/Back-End Stuff goes here*/
body {
  background-image: url("assets/bg_tile_32.png");
  background-repeat: repeat;
  background-attachment: local;
  margin: auto;
  max-width: 960px;
  overflow: hidden;
}

/* Quote*/
.quote {
  color: #00000052;
}

/* Navigation Bar*/
.navbar {
  color: #111111;
  background-color: #7f7f7f;
  border-radius: 12px;
  max-width: 960px;
}

/* Navigation Bar's Text*/
.navbar a {
  display: inline-block;
  color: #303030;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
}

/* Navigation Bar's Text When Hovered*/
.navbar a:hover {
  color: #dbdbdb;
}

/* Dialogue Indentation*/
.indented {
    padding-left: 50pt;
    padding-right: 50pt;
}

/* Paragraph Margin*/
.paragraph {
  text-align: left;
  text-anchor: start;
}