/*Background/Back-End Stuff goes here*/
body {
  background-attachment: fixed;
  background-image: url("assets/bg_tile_64.png");
  background-repeat: repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  max-width: 960px;
}

/* Quote*/
.quote {
  color: #00000052;
}

/* Navigation Bar*/
.navbar {
  color: #111111;
  background-color: #7f7f7f;
  border-radius: 4px;
  max-width: 960px;
}

/* Navigation Bar's Text*/
.navbar a {
  display: inline-block;
  color: #303030;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
}

/* Navigation Bar's Text When Hovered*/
.navbar a:hover {
  color: #dbdbdb;
}

/* Dialogue Indentation*/
.indented {
    padding-left: 50pt;
    padding-right: 50pt;
}

/* Paragraph Margin*/
.paragraph {
  text-align: left;
  text-anchor: start;
}

/* Scrolling Notification Because Why Not (tm)*/
.scroll-left {
  background-color: rgba(0, 0, 0, 0.125);
  width: 60%;
  height: 50px;	
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}


.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

/* Shadow*/
.shadow{
  background-color: rgba(0, 0, 0, 0.125)
}