body {
  background-color: #dddddd;
  font-family: ms-gothic;
  margin: auto;
  max-width: 1280px;

}


.navbar {
  color: #111111;
  background-color: #7f7f7f;
  border-radius: 12px;
  max-width: 1920px;
}

.navbar a {
  display: inline-block;
  color: #111111;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #fefefe;
}

