/*Background/Back-End Stuff goes here*/
body {
  background-image: url("assets/bg_tile_16.png");
  background-repeat: repeat;
  background-attachment: scroll;
  font-family: sans-serif,arial;
  margin: auto;
  max-width: 1280px;

}

/* Navigation Bar*/
.navbar {
  color: #111111;
  background-color: #7f7f7f;
  border-radius: 12px;
  max-width: 1920px;
}

/* Navigation Bar's Text*/
.navbar a {
  display: inline-block;
  color: #111111;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

/* Navigation Bar's Text When Hovered*/
.navbar a:hover {
  color: #fefefe;
}

